.chart {
  position: relative;
  display: inline-block;
  width: 15px;
  height: 55px;
  text-align: center;
}

.chart canvas {
  position: absolute;
  top: 0;
  left: 0;
}
.percent {
  display: inline-block;
  line-height: 18px;
  z-index: 2;
  margin-top: 13px;
  margin-right: 54px;
  font-size: 11px;
  width: 34px;
}
.percent:after {
  margin-left: 0.1em;
  font-size: .8em;
}
