<div class=""  *ngIf="project" >


  <div>
    <span (click)="sideBarService.sidebarEvent()" class="ss-modal-btnclose">×</span>
  </div>
  <p style="font-weight: bold;font-size: 15px;">Detalhes do projeto:</p>
  <p style="font-weight: bold;font-size: 12px;" >{{project.name}}</p>
  <p style="font-size: 9px;margin-top: -10px;">{{project.description}}</p>
  <div class="ss-grid">
    <div class="col-8-m">
      <app-perfil-img [user]="{id: 1, userName: 'John Doe'}"  [role]="{roleName: 'Responsável pelo projeto'}" [image]="'../assets/images/4.jpg'"  ></app-perfil-img>
    </div>
    <div class="col-3-m" style="width: 181%;">

      <circle-progress
      [percent]="60"
      [radius]="25"
      [outerStrokeWidth]="6"
      [innerStrokeWidth]="6"
      [space]="-6"
      [innerStrokeColor]="'#f9f9f9'"
      [outerStrokeColor]="'#60ac80'"
      [animation]="true"
      [animationDuration]="300"
      [title]='[
      "score",
      "660"
      ]'
      [titleFontSize]="9"
      [showSubtitle]="false"
      [animateTitle]="false"
      [showUnits]="false"
      [showBackground]="false"
      ></circle-progress>

    </div>
    <div class="col-1" style="width: 117%;">
      <a class="ss-color-text"><i style="color: #bbb;margin-top: 25px;margin-left: -9px;cursor: pointer" class="material-icons">more_vert</i></a>
    </div>

  </div>
  <hr class="hrSideBar">

  <div class="ss-table ss-striped" style="width: 111%;margin-left: -16px;margin-top: -7px;">
    <table>
      <tr style="border: none;">
        <th  colspan="2" style="background: #fefefe;">Ações</th>
      </tr>
      <tr style="border: none;">
        <td>Lorem ipsum dolor</td>
        <td class="ss-badge-container">
          <span  style="margin-top: -5px;" class="ss-badge ss-badge-danger">Atrasada</span>
        </td>
      </tr>
      <tr style="border: none;">
        <td>Lorem ipsum dolor</td>
        <td class="ss-badge-container">
          <span  style="margin-top: -5px;" class="ss-badge ss-badge-danger">Atrasada</span>
        </td>
      </tr>
      <tr style="border: none;">
        <td>Lorem ipsum dolor</td>
        <td class="ss-badge-container">
          <span  style="margin-top: -5px;" class="ss-badge ss-badge-danger">Atrasada</span>
        </td>
      </tr>
      <tr style="border: none;">
        <td>Lorem ipsum dolor</td>
        <td class="ss-badge-container">
          <span  style="margin-top: -5px;background-color: #d5d5d5;color: #4e5052;" class="ss-badge ss-badge-default">Revisão</span>
        </td>
      </tr>
      <tr style="border: none;">
        <td colspan="2" style="text-align: center;border-bottom: 1px solid #D5DDE5;cursor: pointer;padding: 0px 0px;"><p style="color: #646bdb;font-size: 20px">+10...<p></td>
        </tr>
      </table>
    </div>

    <h6 style="font-size: 15px;margin-top: 20px;">Progresso do projeto</h6>
    <div class="col-12">
      <div class="ss-grid">
        <div class="col-6-m">

          <circle-progress
          [percent]="76"
          [radius]="40"
          [outerStrokeWidth]="8"
          [innerStrokeWidth]="8"
          [space]="-8"
          [innerStrokeColor]="'#f9f9f9'"
          [outerStrokeColor]="'#00C9B8'"
          [animation]="true"
          [animationDuration]="300"
          [title]='[
          "15/20"
          ]'
          [titleFontSize]="20"
          [showSubtitle]="false"
          [animateTitle]="false"
          [showUnits]="false"
          [showBackground]="false"
          ></circle-progress>
          <p style="font-weight:bold">Ações concluídas</p>
        </div>
        <div class="col-6-m">

          <circle-progress
          [percent]="26"
          [radius]="40"
          [outerStrokeWidth]="8"
          [innerStrokeWidth]="8"
          [space]="-8"
          [innerStrokeColor]="'#f9f9f9'"
          [outerStrokeColor]="'#E74C3C'"
          [animation]="true"
          [animationDuration]="300"
          [title]='[
          "5/20"
          ]'
          [titleFontSize]="20"
          [showSubtitle]="false"
          [animateTitle]="false"
          [showUnits]="false"
          [showBackground]="false"
          ></circle-progress>
          <p style="font-weight:bold">Ações atrasadas</p>
        </div>
      </div>
    </div>
    <a routerLink="/detail/{{project.id}}" style="margin-top: 24px" type="button" class="ss-btn ss-btn-primary">VER TODAS AS AÇÕES</a>


  </div>
  <input type="hidden" value="" id="projectidhidden">
