<div class="ss-grid" style="margin: 15px 0px 10px 40px;">
  <div class="col-8 col-6-m" >
    <h5 style="margin: auto;">Seus projetos</h5>
  </div>
  <div style="margin: auto;" class="col-3 col-4-m ss-search-container">
    <i class="material-icons ss-search-icon">search</i>
    <input id="busca" type="text" class="ss-form-control ss-search" placeholder="Buscar" aria-label="Default input">
  </div>
</div>

<button class="ss-tab-links active" onclick="openTab(event, &#39;table1&#39;)" id="defaultOpen">
  <div class="ss-badge-container">
    <p>Todos <span style="margin-left: -1px;" class="ss-badge ss-badge-default">20</span></p>
  </div>
</button>

<button class="ss-tab-links" onclick="openTab(event, &#39;table3&#39;)">
  <div class="ss-badge-container">
    <p>Em execução<span style="margin-left: -1px;" class="ss-badge ss-badge-warning">5</span></p>
  </div>
</button>

<button class="ss-tab-links" onclick="openTab(event, &#39;table3&#39;)">
  <div class="ss-badge-container">
    <p>Atrasados <span style="margin-left: -1px;" class="ss-badge ss-badge-danger">3</span></p>
  </div>
</button>
