.arquivo {
    display: none;
  }
  .file {
    line-height: 30px;
    height: 30px;
    border: 1px solid #A7A7A7;
    padding: 5px;
    box-sizing: border-box;
    font-size: 15px;
    vertical-align: middle;
    width: 300px;
  }
  
  .btn-file {
    background-color: #506ad9;
  }
  