<div class="col-12">
  <label class="ss-checkbox">Houve investimentos durante a execução da ação?
    <input type="checkbox" [(ngModel)]="theCheckbox" >
    <span class="ss-checkmark"></span>
  </label>
</div>

<div *ngIf="theCheckbox">
  <h6 >Especifique os investimentos</h6>
  <hr>
  <ng-template #dynamic></ng-template>
  <div style="margin-bottom: 50px;">
    <a (click)="addInvestimento()" style="cursor: pointer;color: #506ad9"><i class="material-icons">add_circle_outline</i> Adicionar investimento</a>
  </div>
  
</div>

