<aside class="ss-toolbar">
  <a href="home#apps" class="ss-toolbar-item"><i class="material-icons">home</i>Início</a>
  <a href="home#apps" class="ss-toolbar-item"><i class="material-icons">dashboard</i>Dashboard</a>
  <a href="home#charts" class="ss-toolbar-item"><i class="material-icons">add_circle_outline</i><span>Novo Projeto</span></a>
  <a href="home#apps" class="ss-toolbar-item"><i class="material-icons">featured_play_list</i><span>Projetos ativos<span class="ss-badge ss-badge-danger " style="  margin-top: -65px;margin-left: 40px;">2</span></span></a>
  <a href="home#apps" class="ss-toolbar-item"><i class="material-icons">device_hub</i><span>Fluxograma</span></a>
  <a href="home#apps" class="ss-toolbar-item"><i class="material-icons">trending_up</i><span>Dados</span></a>
  <a href="home#email" class="ss-toolbar-item"><i class="material-icons">library_books</i>Biblioteca</a>
  <a href="home#email" class="ss-toolbar-item"><i class="material-icons">chrome_reader_mode</i>Notícias</a>
</aside>
