<app-project-detail-header class="col-12" style="padding-bottom: 10px;"></app-project-detail-header>

<!-- <div class="col-12">
  <div class="ss-tab" style="border-top: none;border-left: none;border-right: none;background: none;">
    <button class="ss-tab-links" onclick="openTab(event, &#39;table1&#39;)">
      <div class="ss-badge-container">
        <p>Todas as ações<span style="margin-left: -1px;" class="ss-badge ss-badge-default">20</span></p>
      </div>
    </button>
    <button class="ss-tab-links" onclick="openTab(event, &#39;table2&#39;)">
      <div class="ss-badge-container">
        <p>Concluídas<span style="margin-left: -1px;" class="ss-badge ss-badge-success">3</span></p>
      </div>
    </button>
    <button class="ss-tab-links active" onclick="openTab(event, &#39;table3&#39;)" id="defaultOpen">
      <div class="ss-badge-container">
        <p>Atrasadas<span style="margin-left: -1px;" class="ss-badge ss-badge-danger">3</span></p>
      </div>
    </button>
    <button class="ss-tab-links" onclick="openTab(event, &#39;table3&#39;)">
      <div class="ss-badge-container">
        <p> Revisar dados<span style="margin-left: -1px;" class="ss-badge ss-badge-warning">1</span></p>
      </div>
    </button>
  </div>
</div> -->

<div class="col-12">

  <sc-tab-panel style="border-top: none;border-left: none;border-right: none;background: none;">
    <sc-tab title="Todas as ações" status=4 [total]="total"  >
      <div class="col-12" style="margin-top: 17px;">
        <div class="ss-grid">
          <app-card-task [project]="project" class="col-4" *ngFor="let task of tasks" [task]="task"></app-card-task>
        </div>
      </div>
    </sc-tab>
    <sc-tab title="Concluídas" status=1 [total]="totalConcluida">
      <div class="col-12" style="margin-top: 17px;">
        <div class="ss-grid">
          <app-card-task [project]="project" class="col-4" *ngFor="let task of tasksConcluidas" [task]="task"></app-card-task>
        </div>
      </div>
    </sc-tab>
    <sc-tab title="Atrasadas" status=2 [total]="totalAtrasadas" [selected]="true">
      <div class="col-12" style="margin-top: 17px;">
        <div class="ss-grid">
          <app-card-task [project]="project" class="col-4" *ngFor="let task of tasksAtrasadas" [task]="task"></app-card-task>
        </div>
      </div>
    </sc-tab>
    <sc-tab title="Revisar dados" status=3 [total]="totalRevisarDados">
      <div class="col-12" style="margin-top: 17px;">
        <div class="ss-grid">
          <app-card-task [project]="project" class="col-4" *ngFor="let task of tasksRevisarDados" [task]="task"></app-card-task>
        </div>
      </div>
    </sc-tab>
  </sc-tab-panel>


</div>