<div class="ss-grid">
    <div class="col-4">
      <div class="ss-form-group">
        <label for="data">Valor<span style="color: #585858"> - obrigatório</span></label>
          <input currencyMask [(ngModel)]="value" class="ss-form-control" [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"/>
      </div>
    </div>
    <div class="col-4">
      <label for="data">Finalidade<span style="color: #585858"> - obrigatório</span></label>
      <input id="data" type="text" class="ss-form-control" value="">
    </div>
    <div class="col-4">
      <label for="data">Anexos<span style="color: #585858"> - obrigatório</span></label>
      <button class="btn-file ss-btn ss-btn-primary"><i class="material-icons">attach_file</i> Anexar</button>
    </div>
  </div>


<!-- <div class="ss-grid">
  <div class="col-4">
    <div class="ss-form-group">
      <label for="data">Valor<span style="color: #585858"> - obrigatório</span></label>
      <input id="data" type="text" class="ss-form-control" value="R$ 58,00" aria-label="Data de realização da ação">
    </div>
  </div>
  <div class="col-4">
    <label for="data">Finalidade<span style="color: #585858"> - obrigatório</span></label>
    <input id="data" type="text" class="ss-form-control" value="Impressão de material" aria-label="Data de realização da ação">
  </div>
  <div class="col-4">
    <label for="data">Anexos<span style="color: #585858"> - obrigatório</span></label>
    <button class="btn-file ss-btn ss-btn-primary"><i class="material-icons">attach_file</i> 2 anexos</button>
  </div>
</div>

<div class="ss-grid">
  <div class="col-4">
    <div class="ss-form-group">
      <label for="data">Valor<span style="color: #585858"> - obrigatório</span></label>
      <input id="data" type="text" class="ss-form-control" value="R$ 100,00" aria-label="Data de realização da ação">
    </div>
  </div>
  <div class="col-4">
    <label for="data">Finalidade<span style="color: #585858"> - obrigatório</span></label>
    <input id="data" type="text" class="ss-form-control" value="Ajustes de material" aria-label="Data de realização da ação">
  </div>
  <div class="col-4">
    <label for="data">Anexos<span style="color: #585858"> - obrigatório</span></label>
    <button class="btn-file ss-btn ss-btn-primary"><i class="material-icons">attach_file</i> Anexar comprovante</button>
  </div>
</div> -->