<div class="ss-grid">
  <div class="col-8 col-6-m">
    <h6>Gerenciamento detalhado</h6>
    <div style="margin-top: -10px !important;margin-left: -40px !important;">
      <breadcrumb [allowBootstrap]="false" style="background-color: none;"></breadcrumb>
    </div>
  </div>
  <div  id="fluxograma" class="col-2 col-3-m hidde">
    <a routerLink="/bpmn/1" class="ss-btn ss-btn-outline-primary">Fluxograma</a>
  </div>
</div>
