<div class="ss-grid">
  <div class="col-1-m vl"></div>
  <div class="col-2-m" style="text-align: center;">
    <h5 style="margin-bottom: 0px;line-height: 15px;">5</h5>
    <p style="margin-bottom: 0px;margin-top: 0px;font-size: 12px;font-weight: bold" >Projetos ativos</p>
  </div>
  <div class="col-2-m" style="text-align: center;">
    <h5 style="margin-bottom: 0px;line-height: 15px;">5</h5>
    <p style="margin-bottom: 0px;margin-top: 0px;font-size: 12px;font-weight: bold" >Projetos executados</p>
  </div>
  <div class="col-2-m" style="text-align: center;">
    <h5 style="margin-bottom: 0px;line-height: 15px;">1</h5>
    <p style="margin-bottom: 0px;margin-top: 0px;font-size: 12px;font-weight: bold" >Projetos com ações atrasadas</p>
  </div>
  <div class="col-2-m" style="text-align: center;">
    <h5 style="margin-bottom: 0px;line-height: 15px;">50</h5>
    <p style="margin-bottom: 0px;margin-top: 0px;font-size: 12px;font-weight: bold" >Ações a serem executadas</p>
  </div>
</div>
