<div>
  <span (click)="sideBarService.sidebarEventDetail()" class="ss-modal-btnclose">×</span>
</div>
<p style="font-weight: bold;font-size: 15px;">Detalhes da ação:</p>

<div class="ss-grid">
  <div class="col-6">
     <p style="font-size: 10px;"><i class="material-icons">timer</i> É uma entrega</p>
  </div>
  <div class="col-6">
     <p style="font-size: 10px;"><i class="material-icons">date_range</i> Entrega em: 12/12/2018</p>
  </div>
</div>
<div class="ss-grid">
  <div class="col-6">
     <p style="font-size: 10px;" ><i class="material-icons">attach_money</i> Possui investimento</p>
  </div>
  <div class="col-6">
     <p style="font-size: 10px;"><i class="material-icons">error</i> Ação obrigatória</p>
  </div>
</div>


<p style="font-weight: bold;font-size: 12px;" >Hello world</p>
<p style="font-size: 9px;margin-top: -10px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
<div class="ss-grid">
  <div class="col-8-m">
    <app-perfil-img></app-perfil-img>
  </div>
  <div class="col-3-m" style="width: 181%;">

  <circle-progress
  [percent]="60"
  [radius]="25"
  [outerStrokeWidth]="6"
  [innerStrokeWidth]="6"
  [space]="-6"
  [innerStrokeColor]="'#f9f9f9'"
  [outerStrokeColor]="'#60ac80'"
  [animation]="true"
  [animationDuration]="300"
  [title]='[
    "score",
    "660"
  ]'
  [titleFontSize]="9"
  [showSubtitle]="false"
  [animateTitle]="false"
  [showUnits]="false"
  [showBackground]="false"
></circle-progress>

</div>
<div class="col-1" style="width: 117%;">
  <a class="ss-color-text"><i style="color: #bbb;margin-top: 25px;margin-left: -9px;cursor: pointer" class="material-icons">more_vert</i></a>
</div>

</div>
<!-- <hr class="hrSideBar"> -->

<div class="ss-table ss-striped" style="width: 111%;margin-left: -16px;margin-top: -7px;">
  <table>
    <tr style="border: none;">
      <th colspan="2" style="background: #fefefe;">Dados a serem fornecidos: </th>
    </tr>
    <tr style="border: none;">
      <td>Lorem ipsum dolor</td>
      <td class="ss-badge-container">
        <span  style="margin-top: -5px;background-color: #d5d5d5;color: #4e5052;" class="ss-badge ss-badge-default">Pendente</span>
      </td>
    </tr>
    <tr style="border: none;">
      <td>Lorem ipsum dolor</td>
      <td class="ss-badge-container">
        <span  style="margin-top: -5px;background-color: #d5d5d5;color: #4e5052;" class="ss-badge ss-badge-default">Pendente</span>
      </td>
    </tr>
    <tr style="border: none;">
      <td>Lorem ipsum dolor</td>
      <td class="ss-badge-container">
        <span  style="margin-top: -5px;background-color: #d5d5d5;color: #4e5052;" class="ss-badge ss-badge-default">Pendente</span>
      </td>
    </tr>
    <tr style="border: none;">
      <td>Lorem ipsum dolor</td>
      <td class="ss-badge-container">
        <span  style="margin-top: -5px;background-color: #d5d5d5;color: #4e5052;" class="ss-badge ss-badge-default">Pendente</span>
      </td>
    </tr>
    <tr style="border: none;">
      <td colspan="2" style="text-align: center;border-bottom: 1px solid #D5DDE5;cursor: pointer;padding: 0px 0px;"><p style="color: #646bdb;font-size: 20px">+2...<p></td>
      </tr>
    </table>
  </div>

  <a routerLink="/detail/1/action/1" style="margin-top: 24px" type="button" class="ss-btn ss-btn-primary">EXECUTAR AÇÃO  <i class="material-icons">arrow_forward</i></a>
  <a class="ss-btn ss-btn-outline-danger">ALERTAR SOBRE PENDÊNCIAS</a>
