<!-- <main id="app" class="app-grid">

  <div class="app-navbar">
    <app-menu-horizontal></app-menu-horizontal>
  </div>

  <div class="app-toolbar menuLateral">
    <app-menu-vertical></app-menu-vertical>
  </div>

  <header class="app-header">
    <app-header-page></app-header-page>
  </header>

  <section class="app-content">
    <router-outlet></router-outlet>
  </section>

  <aside id="sideBarResume" class="app-sidebar"  >  
    <!-- <app-side-bar></app-side-bar> --><!--
    <ng-template appSideBar></ng-template>

  </aside>


  <aside id="projectDetail" class="app-sidebar-detail app-sidebar hidde" style="overflow-x:auto;">
    <app-side-bar-detail></app-side-bar-detail>
  </aside>


</main> -->

<app-user-list></app-user-list>