.menuLateral {
  height: 100%
}
@media only screen and (max-width: 600px) {
  .menuLateral {
    height: auto
  }

  .vl {
    display: none;
  }

  .descricao {
    margin-left: 0px;
    margin-top: 10px;
  }

}

@media only screen and (max-width: 700px) {

  .menuLateral {
    height: auto
  }
}
