<nav #navbar class="ss-navbar ss-navbar-default">
  <div class="ss-navbar-info">
    <!-- <a href="home#home" class="ss-navbar-item ss-navbar-logo"><img src="./assets/images/logo-sisbr.svg"></a> -->
    <a class="ss-navbar-item ss-navbar-title">PROJETOS</a>
    <a href="javascript:void(0);" class="ss-navbar-item ss-navbar-mobile" onclick="openNavbarMenu()">☰</a>
  </div>
  <div #navbarMenu class="ss-navbar-menu">
    <a href="javascript:void(0)" class="ss-navbar-btnclose" onclick="openNavbarMenu()"><i class="material-icons">arrow_back</i></a>
    <a href="home#charts" class="ss-navbar-item ss-badge-container"><i class="material-icons">notifications</i><span class="ss-badge ss-badge-danger">2</span></a>
    <!-- <a href="home#email" class="ss-navbar-item"><i class="material-icons">email</i></a> -->
    <div class="ss-navbar-user">
      <a href="home#" class="ss-navbar-item ss-navbar-user-btn"><img class="ss-user-img" src="./assets/images/4.jpg"></a>
      <div class="ss-navbar-user-content">
        <a href="home#" class="ss-navbar-item">Informações</a>
        <a href="home#" class="ss-navbar-item">Trocar senha</a>
        <a class="ss-navbar-item ss-navbar-sair" href="home#"><i class="material-icons">exit_to_app</i> Sair</a>
      </div>
    </div>
  </div>
</nav>
