<div class="ss-grid">
  <div class="col-12">
    <div class="ss-grid">
       <!-- Foto e boas vindas -->
      <div class="col-4-m" style="margin-left: 50px;">
        <app-perfil-img [user]="{id: 1, userName: 'Bem-Vindo John Doe', post: 'Instituto Sicoob'}"  [role]="{roleName: 'Instituto Sicoob'}" [image]="'../assets/images/4.jpg'"  ></app-perfil-img>
      </div>
      <!-- Controle Geral do Status dos Projetos -->
      <div class="col-8-m">
         <app-projects-resume></app-projects-resume>
      </div>
    </div>
  </div>

  <div class="col-12">
    <!-- Cabeçalho da Tabela -->
    <div class="ss-tab">
      <app-datatable-projects-resume-header></app-datatable-projects-resume-header>
    </div>

    <!-- Tabela de Status -->
    <div id="table1" class="ss-tab-content" style="display: inline-grid;">
        <app-datatable-projects-resume></app-datatable-projects-resume>
    </div>
    <div class="ss-tab-content" style="display: none;"></div>
  </div>
</div>
