<div class="ss-table ss-striped ss-sortable">
  <table id="myTable3">
    <thead>
      <tr>
        <th>ID</th>
        <th>NOME</th>
        <th>EMAIL</th>
        <th>CPFth>
        <th>CARGO</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of usuarios">
        <td>{{usuario.id}}</td>
        <td>{{usuario.userName}}</td>
        <td>{{usuario.email}}</td>
        <td>{{usuario.cpf}}</td>
        <td>{{usuario.post}}</td>
      </tr>
    </tbody>
  </table>
</div>