<div class="ss-modal-content"  [ngStyle]="{'width': width + '%'}" >
    <div class="ss-modal-header">
        <span  (click)="close()" class="ss-modal-btnclose">×</span>
        <h5>{{header}}</h5>
    </div>
    <div class="ss-modal-body">
        <ng-content></ng-content>
    </div>
   <!--  <div class="ss-modal-footer">
        <small>Obs.: Some other text...</small>
    </div> -->
</div>