<div class="ss-grid"  *ngIf="project">
  <!-- Foto e boas vindas -->
  <div class="col-4-m ">
    <div class="ss-badge-container">
      <h5>{{project.name}}<span style="font-size: 12px;" class="ss-badge ss-badge-danger">{{project.status}}</span></h5>
    </div>
    <div class="ss-progress-bar" style="width: 50%">
      <div class="ss-progress" id="myBar" [ngStyle]="{'width': project.progress + '%'}"></div>
    </div>
  </div>

  <div class="col-4-m" style="margin-top: 20px;">
    <i class="material-icons">calendar_today</i>{{project.dataIn}} - <i style="color: #00d867;" class="material-icons">date_range</i>{{project.dataOut}}
  </div>

  <div class="col-4-m">
    <app-perfil-img [user]="{id: 1, userName: 'Rodrigo UX', post: 'UX Designer'}" [role]="{roleName: 'Responsável pelo projeto'}" [image]="'../assets/images/4.jpg'"  ></app-perfil-img>
  </div>
</div>
