/* You can add global styles to this file, and also import other style files */


@charset "UTF-8";
@font-face {
  font-family: 'Myriad';
  src: url("/assets/fonts/MyriadWebPro.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Myriad';
  src: url("/assets/fonts/MyriadWebPro-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic; }


@font-face {
  font-family: 'Myriad';
  src: url("/assets/fonts/MyriadWebPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

html,
body {
  background-color: #f5f7f8;
  overflow-x: hidden;
  min-width: 320px; }

.app-grid {
  display: block;
  grid-template-columns: 80px auto minmax(auto, 350px);
  grid-template-rows: 64px 80px auto;
  width: 100vw;
  transition: 0.5s;
  overflow: auto;
  padding-bottom: 80px;
  margin-left: 0; }

.app-navbar {
  grid-column: span 3;
  overflow: auto; }

.app-toolbar {
  grid-row: span 2;
  background-color: #FEFEFE;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.16);
  border-right: 1px solid #D5DDE5;
  width: 100%;
  overflow: auto;
  bottom: 0;
  position: fixed;
  z-index: 1;
  border-top: 1px solid #D5DDE5; }

.app-header {
  grid-column: span 2;
  background-color: #FEFEFE;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.16);
  border-bottom: 1px solid #D5DDE5;
  padding: 20px;
  margin-top: 64px; }
  .app-header h6 {
    color: #00a091; }
  .app-header h6,
  .app-header p {
    margin: 0; }

.app-content {
  grid-column: span 2;
  overflow: auto;
  padding: 20px; }

.app-sidebar {
  grid-column: span 1;
  background-color: #FEFEFE;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.16);
  border-left: 1px solid #D5DDE5;
  padding: 20px;
  overflow: auto;
  display: none; }

.app-sidebar-event .app-content {
  grid-column: span 1; }

.app-sidebar-event .app-sidebar {
  display: block; }

.app-sidebar-detail-event .app-content {
    grid-column: span 1;
}
.app-sidebar-detail-event .app-sidebar-detail {
    display: block;
}

/* css actionbar */
.app-actionbar {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  z-index: 2;
  right: -1px;
  overflow-x: hidden;
  padding: 20px 0;
  background-color: #FEFEFE;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.16);
  border-left: 1px solid #D5DDE5;
  transition: 0.5s;
  word-wrap: break-word; }
  .app-actionbar .app-actionbar-btnclose {
    margin-right: 16px;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #D5DDE5;
    display: block;
    transition: 0.3s;
    text-align: right;
    margin-bottom: 0; }
    .app-actionbar .app-actionbar-btnclose:hover {
      color: #34495E; }
  .app-actionbar .app-actionbar-content {
    padding: 20px;
    min-width: 250px; }

.app-actionbar-slide {
  width: 100vw; }

@media screen and (min-width: 768px) {
  .app-grid {
    height: 100vh;
    display: grid;
    padding-bottom: initial; }
  .app-toolbar {
    bottom: 0;
    position: fixed;
    z-index: 1;
    border-top: 1px solid #D5DDE5; }
  .app-toolbar {
    margin-top: 0;
    width: auto;
    overflow-x: hidden;
    bottom: unset;
    position: relative;
    z-index: 1;
    border-top: unset; }
  .app-header {
    margin-top: initial; }
  .app-actionbar-slide {
    width: 50vw; } }

.hidde {
  display: none !important;
}

* {
  box-sizing: border-box; }

/* Grid
=============================================== */
.ss-grid {
  display: grid;
  grid-gap: 2vw;
  grid-template-columns: repeat(12, 1fr);
  overflow: unset;
  word-wrap: break-word; }

.ss-grid-center {
  justify-items: center; }

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col-1-m,
.col-2-m,
.col-3-m,
.col-4-m,
.col-5-m,
.col-6-m,
.col-7-m,
.col-8-m,
.col-9-m,
.col-10-m,
.col-11-m,
.col-12-m {
  grid-column: span 12;
  overflow: auto; }

.col-1-p {
  grid-column: span 1; }

.col-2-p {
  grid-column: span 2; }

.col-3-p {
  grid-column: span 3; }

.col-4-p {
  grid-column: span 4; }

.col-5-p {
  grid-column: span 5; }

.col-6-p {
  grid-column: span 6; }

.col-7-p {
  grid-column: span 7; }

.col-8-p {
  grid-column: span 8; }

.col-9-p {
  grid-column: span 9; }

.col-10-p {
  grid-column: span 10; }

.col-11-p {
  grid-column: span 11; }

.col-12-p {
  grid-column: span 12; }

@media screen and (min-width: 768px) {
  .ss-grid {
    grid-gap: 1vw; }
  .col-1-m {
    grid-column: span 1; }
  .col-2-m {
    grid-column: span 2; }
  .col-3-m {
    grid-column: span 3; }
  .col-4-m {
    grid-column: span 4; }
  .col-5-m {
    grid-column: span 5; }
  .col-6-m {
    grid-column: span 6; }
  .col-7-m {
    grid-column: span 7; }
  .col-8-m {
    grid-column: span 8; }
  .col-9-m {
    grid-column: span 9; }
  .col-10-m {
    grid-column: span 10; }
  .col-11-m {
    grid-column: span 11; }
  .col-12-m {
    grid-column: span 12; } }

@media screen and (min-width: 992px) {
  .col-1 {
    grid-column: span 1; }
  .col-2 {
    grid-column: span 2; }
  .col-3 {
    grid-column: span 3; }
  .col-4 {
    grid-column: span 4; }
  .col-5 {
    grid-column: span 5; }
  .col-6 {
    grid-column: span 6; }
  .col-7 {
    grid-column: span 7; }
  .col-8 {
    grid-column: span 8; }
  .col-9 {
    grid-column: span 9; }
  .col-10 {
    grid-column: span 10; }
  .col-11 {
    grid-column: span 11; }
  .col-12 {
    grid-column: span 12; }
  .row-1 {
    grid-row: span 1; }
  .row-2 {
    grid-row: span 2; }
  .row-3 {
    grid-row: span 3; }
  .row-4 {
    grid-row: span 4; }
  .row-5 {
    grid-row: span 5; }
  .row-6 {
    grid-row: span 6; }
  .row-7 {
    grid-row: span 7; }
  .row-8 {
    grid-row: span 8; }
  .row-9 {
    grid-row: span 9; }
  .row-10 {
    grid-row: span 10; } }

/* Text
=============================================== */
body {
  font-family: "Myriad", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #34495E; }

h1 {
  font-weight: bold;
  font-size: 48px;
  line-height: 54px;
  margin-bottom: 28px;
  margin-top: 0; }

h2 {
  font-size: 42px;
  line-height: 48px;
  margin-bottom: 24px;
  margin-top: 24px; }

h3 {
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 20px;
  margin-top: 20px; }

h4 {
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 16px;
  margin-top: 16px; }

h5 {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 12px;
  margin-top: 12px; }

h6 {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 8px;
  margin-top: 8px; }

p {
  margin-bottom: 12px;
  margin-top: 12px;
  line-height: 20px; }

.ss-color-text {
  color: #34495E; }

small {
  margin-bottom: 12px; }

.ss-info-label {
  margin-bottom: 12px;
  text-transform: uppercase;
  letter-spacing: 0.04rem;
  font-weight: bolder;
  color: #34495E; }

em {
  font-style: italic; }

a {
  cursor: pointer;
  color: #00C9B8; }

blockquote {
  border-left: 3px solid #D5DDE5;
  padding-left: 14px;
  font-size: 16px;
  margin-left: 28px; }

pre {
  margin: 0; }

.ss-text-lead {
  font-size: 30px;
  line-height: 36px;
  font-weight: normal; }

/* lists
=============================================== */
ul {
  padding-left: 12px;
  list-style-type: circle; }

li {
  margin-bottom: 0.6rem; }

dl {
  margin-left: 0; }

dt {
  font-weight: bold;
  display: block; }

dd {
  margin-left: 0;
  margin-bottom: 1rem; }

.ss-avatar-list {
  list-style: none; }
  .ss-avatar-list li {
    margin-bottom: 28px;
    vertical-align: middle; }
    .ss-avatar-list li::before {
      content: "";
      width: 40px;
      height: 40px;
      background-color: #D5DDE5;
      display: block;
      border-radius: 50%;
      float: left;
      margin-top: -8px;
      margin-right: 12px; }

/* Tables
=============================================== */
table {
  line-height: 20px; }

table,
th,
td {
  border-collapse: collapse;
  text-align: left; }

.ss-table {
  overflow: auto; }
  .ss-table table {
    background-color: #FEFEFE;
    width: 100%; }
    .ss-table table tr {
      box-shadow: 0 0 1px rgba(0, 0, 0, 0.16);
      border: 1px solid #D5DDE5; }
      .ss-table table tr:hover {
        background-color: rgba(0, 160, 145, 0.2); }
    .ss-table table th {
      background-color: #D5DDE5;
      min-width: 132px; }
    .ss-table table th,
    .ss-table table td {
      padding: 12px 24px;
      min-height: 52px; }

.ss-striped tr:nth-child(odd) {
  background-color: #f5f7f8; }
  .ss-striped tr:nth-child(odd):hover {
    background-color: rgba(0, 160, 145, 0.2); }

.ss-sortable th .ss-icon {
  height: 16px;
  width: 16px;
  margin: 0;
  margin-left: 4px;
  vertical-align: middle; }

/* Buttons
=============================================== */
.ss-btn,
input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="file"] {
  display: inline-block;
  width: 100%;
  height: 36px;
  border-radius: 4px;
  padding: 4px 14px;
  padding-top: 6px;
  margin-bottom: 8px;
  line-height: 24px;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  text-decoration: none;
  background-color: transparent;
  transition: 0.5s; }
  .ss-btn.icon,
  input[type="button"].icon,
  input[type="submit"].icon,
  input[type="reset"].icon,
  input[type="file"].icon {
    padding-top: 7px; }
  .ss-btn i[class*="icon"],
  input[type="button"] i[class*="icon"],
  input[type="submit"] i[class*="icon"],
  input[type="reset"] i[class*="icon"],
  input[type="file"] i[class*="icon"] {
    font-size: 20px;
    margin-right: 8px; }

.ss-btn {
  border: 2px solid #D5DDE5; }

.ss-btn-default {
  border: 1px solid #D5DDE5;
  border-color: #003641;
  background-color: #003641;
  color: #FEFEFE; }

.ss-btn-primary {
  border: 1px solid #D5DDE5;
  border-color: #00a091;
  background-color: #00a091;
  color: #FEFEFE; }

.ss-btn-success {
  border: 1px solid #D5DDE5;
  border-color: #00C9B8;
  background-color: #00C9B8;
  color: #FEFEFE; }

.ss-btn-warning {
  border: 1px solid #D5DDE5;
  border-color: #f39c12;
  background-color: #f39c12;
  color: #FEFEFE; }

.ss-btn-danger {
  border: 1px solid #D5DDE5;
  border-color: #E74C3C;
  background-color: #E74C3C;
  color: #FEFEFE; }

.ss-btn-outline-default {
  border: 1px solid #D5DDE5;
  border-color: #003641;
  color: #003641; }

.ss-btn-outline-primary {
  border: 1px solid #D5DDE5;
  border-color: #00a091;
  color: #00a091; }

.ss-btn-outline-success {
  border: 1px solid #D5DDE5;
  border-color: #00C9B8;
  color: #00C9B8; }

.ss-btn-outline-warning {
  border: 1px solid #D5DDE5;
  border-color: #f39c12;
  color: #f39c12; }

.ss-btn-outline-danger {
  border: 1px solid #D5DDE5;
  border-color: #E74C3C;
  color: #E74C3C; }

.ss-btn:hover {
  color: rgba(0, 160, 145, 0.2); }

.ss-btn-default:hover,
.ss-btn-primary:hover,
.ss-btn-success:hover,
.ss-btn-warning:hover,
.ss-btn-danger:hover {
  color: #FEFEFE;
  filter: brightness(0.9);
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.24); }

.ss-btn-outline-default:hover {
  background-color: #003641;
  color: #FEFEFE; }

.ss-btn-outline-primary:hover {
  background-color: #00a091;
  color: #FEFEFE; }

.ss-btn-outline-success:hover {
  background-color: #00C9B8;
  color: #FEFEFE; }

.ss-btn-outline-warning:hover {
  background-color: #f39c12;
  color: #FEFEFE; }

.ss-btn-outline-danger:hover {
  background-color: #E74C3C;
  color: #FEFEFE; }

.ss-btn:disabled,
input:disabled {
  filter: opacity(0.3);
  cursor: not-allowed; }

.ss-group-inline .ss-btn {
  width: 100%;
  margin-right: 12px;
  margin-bottom: 12px; }

@media screen and (min-width: 992px) {
  .ss-group-inline .ss-btn {
    width: auto; } }

.ss-btnclose {
  float: right;
  cursor: pointer;
  padding-left: 4px;
  padding-right: 4px; }

/* Inputs
=================================
*/
.ss-form-group {
  margin-bottom: 16px; }
  .ss-form-group label {
    display: block;
    width: auto; }
  .ss-form-group small {
    display: block; }
  .ss-form-group.ss-alert-success label,
  .ss-form-group.ss-alert-success small {
    color: #00C9B8; }
  .ss-form-group.ss-alert-success .ss-form-control {
    border-color: #00C9B8; }
  .ss-form-group.ss-alert-success .st0 {
    fill: #00C9B8; }
  .ss-form-group.ss-alert-warning label,
  .ss-form-group.ss-alert-warning small {
    color: #f39c12; }
  .ss-form-group.ss-alert-warning .ss-form-control {
    border-color: #f39c12; }
  .ss-form-group.ss-alert-warning .st0 {
    fill: #f39c12; }
  .ss-form-group.ss-alert-danger label,
  .ss-form-group.ss-alert-danger small {
    color: #E74C3C; }
  .ss-form-group.ss-alert-danger .ss-form-control {
    border-color: #E74C3C; }
  .ss-form-group.ss-alert-danger .st0 {
    fill: #E74C3C; }

.ss-form-control {
  height: 36px;
  border-radius: 4px;
  padding: 4px 14px;
  border: 1px solid #D5DDE5;
  border-color: #34495E;
  width: 100%; }

.ss-form-control:focus {
  background-color: #f5f7f8; }

/* Search
==================================
*/
.ss-search-container {
  position: relative;
  overflow: visible; }

.ss-search {
  padding-left: 34px; }

.ss-search-icon {
  position: absolute;
  padding: 6px;
  color: rgba(52, 73, 94, 0.6); }

/* Select
==================================
*/
.ss-select {
  position: relative; }
  .ss-select select {
    display: none; }

.ss-select-selected {
  border: 1px solid #D5DDE5;
  border-color: #34495E;
  border-radius: 4px; }
  .ss-select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #34495E transparent transparent transparent; }
  .ss-select-selected.select-arrow-active:after {
    border-color: transparent transparent #34495E transparent;
    top: 7px; }

.ss-select-items div,
.ss-select-selected {
  color: #34495E;
  padding: 4px 14px;
  cursor: pointer;
  user-select: none; }

.ss-select-items {
  position: absolute;
  background: #FEFEFE;
  border: 1px solid #D5DDE5;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  top: 50px;
  width: 100%;
  padding-top: 4px; }
  .ss-select-items:after, .ss-select-items:before {
    bottom: 100%;
    left: 10%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none; }
  .ss-select-items:after {
    border-color: transparent;
    border-bottom-color: #FEFEFE;
    border-width: 16px;
    margin-left: -16px; }
  .ss-select-items:before {
    border-color: transparent;
    border-bottom-color: #D5DDE5;
    border-width: 18px;
    margin-left: -18px; }
  .ss-select-items div:hover {
    background-color: #D5DDE5; }

.ss-select-hide {
  display: none; }

/*
Radio button e Checkbox
========================================= */
.ss-radiobutton,
.ss-checkbox {
  display: block;
  position: relative;
  padding-left: 28px;
  margin-bottom: 8px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .ss-radiobutton input,
  .ss-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer; }
  .ss-radiobutton .ss-checkmark,
  .ss-checkbox .ss-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #f5f7f8;
    border: 1px solid #D5DDE5;
    border-color: #34495E; }
  .ss-radiobutton:hover input ~ .ss-checkmark,
  .ss-checkbox:hover input ~ .ss-checkmark {
    background-color: #D5DDE5; }
  .ss-radiobutton input:checked ~ .ss-checkmark,
  .ss-checkbox input:checked ~ .ss-checkmark {
    background-color: #00a091;
    border-color: #00a091; }
  .ss-radiobutton .ss-checkmark:after,
  .ss-checkbox .ss-checkmark:after {
    content: "";
    position: absolute;
    display: none; }
  .ss-radiobutton input:checked ~ .ss-checkmark:after,
  .ss-checkbox input:checked ~ .ss-checkmark:after {
    display: block; }

/* Radio button */
.ss-radiobutton .ss-checkmark {
  border-radius: 50%; }

.ss-radiobutton .ss-checkmark:after {
  top: 5px;
  left: 5px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #f5f7f8; }

/* Checkbox */
.ss-checkbox .ss-checkmark {
  border-radius: 4px; }

.ss-checkbox .ss-checkmark:after {
  left: 6px;
  top: 2px;
  width: 4px;
  height: 8px;
  border: solid #f5f7f8;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

/*
Toggle Switch
========================================= */
.ss-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 30px; }
  .ss-switch input {
    display: none; }
  .ss-switch .ss-point {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f5f7f8;
    border: 1px solid #D5DDE5;
    border-color: #34495E;
    border-radius: 18px;
    -webkit-transition: 0.4s;
    transition: 0.4s; }
    .ss-switch .ss-point:before {
      position: absolute;
      content: "";
      height: 22px;
      width: 22px;
      left: 4px;
      bottom: 3px;
      background-color: #34495E;
      -webkit-transition: 0.4s;
      transition: 0.4s;
      border-radius: 50%; }
  .ss-switch input:checked + .ss-point {
    background-color: #00a091;
    border-color: #00a091; }
  .ss-switch input:focus + .ss-point {
    box-shadow: 0 0 1px #00a091; }
  .ss-switch input:checked + .ss-point:before {
    background-color: #003641;
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px); }

/*
Slider
========================================= */
.ss-slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: 6px;
  border-radius: 4px;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  background-color: #D5DDE5; }
  .ss-slider:hover {
    opacity: 1; }
  .ss-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 22px;
    height: 22px;
    border: none;
    border-radius: 50%;
    background: #00a091;
    cursor: pointer; }
  .ss-slider::-moz-range-thumb {
    width: 22px;
    height: 22px;
    border: none;
    border-radius: 50%;
    background: #00a091;
    cursor: pointer; }

.ss-slider-value {
  width: 90%; }

.ss-slider-value + .ss-info-label {
  display: inline-block;
  margin: 0; }

/*
Progress bar
========================================= */
.ss-progress-bar {
  width: 100%;
  background-color: #D5DDE5;
  border-radius: 18px;
  margin-top: 12px;
  margin-bottom: 12px;
  overflow: hidden; }
  .ss-progress-bar .ss-progress {
    width: 1%;
    height: 9px;
    background-color: #00C9B8;
    border-radius: 18px; }

/*
Badges e Labels
========================================= */
.ss-badge-container {
  position: relative;
  overflow: visible; }

.ss-badge,
.ss-label {
  display: inline-block;
  padding: 1px 10px;
  height: 26px;
  font-size: 80%;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: 20px;
  color: #FEFEFE;
  line-height: 24px; }

.ss-badge {
  height: 16px;
  min-width: 16px;
  line-height: 16px;
  padding: 1px 5px;
  padding-left: 4px;
  margin-left: -8px;
  margin-top: -8px;
  position: absolute;
  text-align: center; }

.ss-badge-default {
  background-color: #003641; }

.ss-badge-primary {
  background-color: #00a091; }

.ss-badge-success {
  background-color: #00C9B8; }

.ss-badge-warning {
  background-color: #f39c12; }

.ss-badge-danger {
  background-color: #E74C3C; }

/* Labels */
.ss-label {
  border: 1px solid #D5DDE5;
  font-weight: bold; }

.ss-label-default {
  color: #003641;
  border-color: #003641; }

.ss-label-primary {
  color: #00a091;
  border-color: #00a091; }

.ss-label-success {
  color: #00C9B8;
  border-color: #00C9B8; }

.ss-label-warning {
  color: #f39c12;
  border-color: #f39c12; }

.ss-label-danger {
  color: #E74C3C;
  border-color: #E74C3C; }

/*
Alerts
========================================== */
.alert {
  position: relative;
  padding: 4px 14px;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 4px;
  clear: both; }

.alert-default {
  color: #FEFEFE;
  background-color: #34495E;
  border-color: #34495E; }

.alert-success {
  color: #FEFEFE;
  background-color: #00C9B8;
  border-color: #00C9B8; }

.alert-warning {
  color: #FEFEFE;
  background-color: #f39c12;
  border-color: #f39c12; }

.alert-danger {
  color: #FEFEFE;
  background-color: #E74C3C;
  border-color: #E74C3C; }

/*
Tooltips
========================================== */
.ss-tooltip {
  position: relative;
  display: inline-block; }
  .ss-tooltip .ss-tooltiptext {
    visibility: hidden;
    position: absolute;
    min-width: 100px;
    text-align: center;
    color: #FEFEFE;
    background-color: #34495E;
    padding: 4px 14px;
    border-radius: 4px;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s; }
  .ss-tooltip:hover .ss-tooltiptext {
    visibility: visible;
    opacity: 1; }

.ss-tooltip-bottom {
  top: 135%;
  left: 0; }
  .ss-tooltip-bottom:after {
    content: "";
    position: absolute;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-color: transparent transparent #34495E transparent; }

.ss-tooltip-top {
  bottom: 125%;
  left: 0; }
  .ss-tooltip-top:after {
    content: "";
    position: absolute;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    top: 115%;
    left: 50%;
    margin-left: -5px;
    border-color: #34495E transparent transparent transparent; }

.ss-tooltip-right {
  top: -5px;
  left: 125%; }
  .ss-tooltip-right:after {
    content: "";
    position: absolute;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    top: 50%;
    right: 100%;
    border-color: transparent #34495E transparent transparent; }

.ss-tooltip-left {
  top: -5px;
  bottom: auto;
  right: 128%; }
  .ss-tooltip-left:after {
    content: "";
    position: absolute;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    top: 50%;
    left: 100%;
    border-color: transparent transparent transparent #34495E; }

/*
Pagination
========================================== */
.ss-pagination a {
  display: inline-block;
  color: #34495E;
  height: 36px -4px;
  padding: 4px 14px;
  padding-top: 8px;
  vertical-align: middle;
  margin: 2px;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color .3s; }
  .ss-pagination a.active {
    background-color: #00a091;
    color: #FEFEFE; }
  .ss-pagination a:hover:not(.active) {
    background-color: #D5DDE5;
    color: #34495E; }

/*
Tabs
========================================== */
.ss-tab {
  overflow: hidden;
  border: 1px solid #D5DDE5;
  border-radius: 4px 4px 0 0;
  background-color: #FEFEFE;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.16); }
  .ss-tab .ss-tab-links {
    background-color: transparent;
    float: left;
    border: none;
    outline: none;
    min-width: 100px;
    width: 100%;
    height: 52px;
    cursor: pointer;
    padding: 4px 14px;
    transition: 0.3s;
    color: rgba(52, 73, 94, 0.6); }
    .ss-tab .ss-tab-links:hover {
      background-color: #f5f7f8; }
    .ss-tab .ss-tab-links.active {
      border-bottom: 2px solid #00C9B8;
      color: #34495E; }

.ss-tab-content {
  display: none;
  width: 100%; }

@media screen and (min-width: 768px) {
  .ss-tab .ss-tab-links {
    width: auto; } }

/*
Navbar
========================================== */
.ss-navbar {
  display: grid;
  text-align: center;
  width: 100%;
  position: fixed;
  z-index: 2;
  top: 0;
  transition: top 0.3s; }
  .ss-navbar .ss-navbar-menu {
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 52px; }
  .ss-navbar .ss-navbar-menu .ss-navbar-btnclose {
    position: absolute;
    top: 16px;
    left: 16px;
    font-size: 24px;
    text-decoration: none; }
  .ss-navbar .ss-navbar-responsive {
    width: 100vw; }
  .ss-navbar .ss-navbar-item {
    display: block;
    text-decoration: none;
    padding-top: 20px;
    padding-bottom: 18px;
    padding-left: 16px;
    padding-right: 16px;
    border-bottom: 2px solid transparent;
    transition: 0.2s; }
  .ss-navbar .ss-navbar-info {
    clear: both;
    overflow: hidden; }
    .ss-navbar .ss-navbar-info .ss-navbar-logo {
      float: left;
      padding-top: 14px;
      padding-bottom: 0; }
    .ss-navbar .ss-navbar-info .ss-navbar-title {
      float: left;
      text-align: left;
      text-transform: uppercase;
      letter-spacing: 1px;
      word-break: break-all;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 28px;
      padding-bottom: 0;
      width: 47%; }
    .ss-navbar .ss-navbar-info .ss-navbar-mobile {
      max-width: 30%;
      float: right; }
  .ss-navbar .ss-navbar-dropdown,
  .ss-navbar .ss-navbar-user {
    position: relative; }
  .ss-navbar .ss-navbar-dropdown-btn {
    padding-bottom: 20px; }
  .ss-navbar .ss-navbar-dropdown-content,
  .ss-navbar .ss-navbar-user-content {
    display: none;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.16); }
    .ss-navbar .ss-navbar-dropdown-content .ss-navbar-item,
    .ss-navbar .ss-navbar-user-content .ss-navbar-item {
      padding-top: 8px;
      padding-bottom: 8px; }
  .ss-navbar .ss-navbar-dropdown:hover .ss-navbar-dropdown-content,
  .ss-navbar .ss-navbar-user:hover .ss-navbar-user-content {
    display: block; }
  .ss-navbar .ss-navbar-user-btn {
    padding: 12px; }
    .ss-navbar .ss-navbar-user-btn .ss-user-img {
      display: block;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      margin: 0 auto; }
  .ss-navbar .ss-divisor {
    border-right: 1px solid transparent; }

.ss-app-slide {
  transition: margin-left .5s;
  margin-left: -100vw; }

.ss-navbar-default {
  background-color: #003641; }
  .ss-navbar-default .ss-navbar-item {
    background-color: transparent;
    color: #FEFEFE; }
    .ss-navbar-default .ss-navbar-item:hover {
      background-color: #00C9B8;
      border-bottom-color: #00C9B8;
      color: #003641; }
  .ss-navbar-default .ss-navbar-logo:hover,
  .ss-navbar-default .ss-navbar-title:hover {
    background-color: initial;
    color: #FEFEFE;
    border-bottom-color: transparent; }
  .ss-navbar-default .ss-navbar-info {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.16); }
  .ss-navbar-default .ss-navbar-menu {
    background-color: #003641; }
  .ss-navbar-default .ss-navbar-dropdown-content .ss-navbar-item,
  .ss-navbar-default .ss-navbar-user-content .ss-navbar-item {
    background-color: #f5f7f8;
    border-bottom: 1px solid #D5DDE5;
    color: #34495E; }
    .ss-navbar-default .ss-navbar-dropdown-content .ss-navbar-item.ss-navbar-sair,
    .ss-navbar-default .ss-navbar-user-content .ss-navbar-item.ss-navbar-sair {
      background-color: #E74C3C;
      border-bottom: #E74C3C;
      color: #FEFEFE; }
    .ss-navbar-default .ss-navbar-dropdown-content .ss-navbar-item:hover,
    .ss-navbar-default .ss-navbar-user-content .ss-navbar-item:hover {
      background-color: #00C9B8;
      border-bottom: #00C9B8; }
  .ss-navbar-default .ss-divisor {
    border-right-color: rgba(206, 223, 162, 0.1); }

.ss-navbar-light {
  background-color: #FEFEFE;
  border-bottom: 1px solid rgba(206, 223, 162, 0.1); }
  .ss-navbar-light .ss-navbar-item {
    background-color: #FEFEFE;
    color: #003641; }
    .ss-navbar-light .ss-navbar-item:hover {
      background-color: #00a091;
      border-bottom-color: #00a091;
      color: #FEFEFE; }
  .ss-navbar-light .ss-navbar-logo:hover,
  .ss-navbar-light .ss-navbar-title:hover {
    background-color: initial;
    color: #003641;
    border-bottom-color: transparent; }
  .ss-navbar-light .ss-navbar-info {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.16); }
  .ss-navbar-light .ss-divisor {
    border-right-color: rgba(206, 223, 162, 0.1); }

@media screen and (min-width: 992px) {
  .ss-navbar {
    grid-template-columns: repeat(4, auto); }
    .ss-navbar .ss-navbar-menu {
      display: grid;
      grid-auto-flow: column;
      height: initial;
      width: initial;
      position: relative;
      padding-top: initial;
      overflow: initial; }
    .ss-navbar .ss-navbar-responsive {
      width: initial; }
    .ss-navbar .ss-navbar-menu .ss-navbar-btnclose {
      position: relative;
      display: none; }
    .ss-navbar .ss-navbar-mobile {
      display: none; }
    .ss-navbar .ss-navbar-info {
      grid-column: span 3;
      max-height: 64px; }
      .ss-navbar .ss-navbar-info .ss-navbar-title {
        float: none; }
    .ss-navbar .ss-navbar-dropdown-content,
    .ss-navbar .ss-navbar-user-content {
      position: absolute;
      min-width: 163px;
      z-index: 1; }
    .ss-navbar .ss-navbar-user-content {
      right: 0; }
    .ss-navbar .active {
      color: #00C9B8;
      border-bottom: 2px solid #00C9B8; }
  /* .ss-navbar-default {
    background-image: linear-gradient(90deg, #003641 60%, #00a091 95%); } */
  .ss-app-slide {
    margin-left: 0; } }

@media screen and (max-width: 320px) {
  .ss-navbar .ss-navbar-info .ss-navbar-title {
    width: 39%; } }

/*
Toolbar
========================================== */
.ss-toolbar {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 80px;
  text-align: center;
  background-color: #FEFEFE; }
  .ss-toolbar .ss-toolbar-item {
    width: auto;
    min-width: 80px;
    min-height: 80px;
    padding: 8px;
    border-bottom: 1px solid #D5DDE5;
    border-right: 1px solid #D5DDE5;
    color: #34495E;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .ss-toolbar .ss-toolbar-item:hover {
      background-color: #00C9B8;
      color: #003641; }
    .ss-toolbar .ss-toolbar-item span {
      margin-top: 4px;
      line-height: 0.9rem;
      display: block;
      word-wrap: break-word; }

@media screen and (min-width: 768px) {
  .ss-toolbar {
    grid-auto-flow: row; }
    .ss-toolbar .ss-toolbar-item {
      border-right: unset;
      width: 80px; } }

/*
Cards
========================================== */
.ss-card {
  background-color: #FEFEFE;
  padding: 14px;
  border: 1px solid #D5DDE5;
  border-radius: 4px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.16); }
  .ss-card .ss-card-img {
    width: 100%;
    border-radius: 4px; }

/*
login
========================================== */
.ss-login {
  background-color: #FEFEFE;
  border: 1px solid #D5DDE5;
  border-radius: 4px;
  box-shadow: 0 9px 13px rgba(0, 0, 0, 0.36);
  padding: 24px;
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.ss-login-logo {
  width: 40%;
  margin-bottom: 16px;
  max-width: 150px; }

.material-icons {
  margin-bottom: 2px; }

.ss-btn-login {
  margin-top: 8px; }

/*
Modal
========================================== */
.ss-modal {
  display: none;
  position: fixed;
  z-index: 3;
  padding-top: 10vh;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); }

/* Modal Content */
.ss-modal-content {
  background-color: #FEFEFE;
  margin: auto;
  border: 1px solid #D5DDE5;
  border-radius: 4px;
  box-shadow: 0 9px 38px rgba(0, 0, 0, 0.36);
  width: 80%; }

.ss-modal-header,
.ss-modal-body,
.ss-modal-footer {
  padding: 14px; }

.ss-modal-header {
  border-bottom: 1px solid #D5DDE5; }
  .ss-modal-header p,
  .ss-modal-header h1,
  .ss-modal-header h2,
  .ss-modal-header h3,
  .ss-modal-header h4,
  .ss-modal-header h5,
  .ss-modal-header h6,
  .ss-modal-header a {
    margin: 0; }

.ss-modal-footer {
  border-top: 1px solid #D5DDE5; }
  .ss-modal-footer p,
  .ss-modal-footer h1,
  .ss-modal-footer h2,
  .ss-modal-footer h3,
  .ss-modal-footer h4,
  .ss-modal-footer h5,
  .ss-modal-footer h6,
  .ss-modal-footer a {
    margin: 0; }

/* The Close Button */
.ss-modal-btnclose {
  float: right;
  font-size: 24px;
  font-weight: bold;
  color: #34495E; }
  .ss-modal-btnclose:hover, .ss-modal-btnclose:focus {
    color: #00a091;
    text-decoration: none;
    cursor: pointer; }

/* Breadcrumbs */
.ss-breadcrumb {
  padding: 4px 14px;
  list-style: none;
  padding-left: initial;
  margin: 0;
  white-space: nowrap;
  overflow: auto;
  display: flex;
  flex-direction: row; }
  .ss-breadcrumb .ss-breadcrumb-item {
    color: rgba(52, 73, 94, 0.6);
    margin: 0; }
    .ss-breadcrumb .ss-breadcrumb-item + .ss-breadcrumb-item:before {
      padding: 0 16px;
      font-size: 24px;
      color: #D5DDE5;
      vertical-align: middle;
      content: "»"; }
  .ss-breadcrumb .ss-breadcrumb-num {
    background-color: #D5DDE5;
    display: inline-block;
    color: rgba(52, 73, 94, 0.6);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    margin-right: 8px;
    line-height: 23px; }
  .ss-breadcrumb .ss-breadcrumb-link {
    color: #00a091;
    text-decoration: none; }
    .ss-breadcrumb .ss-breadcrumb-link:hover {
      color: #00C9B8; }
    .ss-breadcrumb .ss-breadcrumb-link + .ss-breadcrumb-item:before {
      color: #00a091; }
    .ss-breadcrumb .ss-breadcrumb-link .ss-breadcrumb-num {
      background-color: #00C9B8;
      color: #FEFEFE; }

/* Icons
========================================== */
.material-icons {
  vertical-align: middle; }

.material-icons.md-18 {
  font-size: 18px; }

.material-icons.md-24 {
  font-size: 24px; }

.material-icons.md-36 {
  font-size: 36px; }

.material-icons.md-48 {
  font-size: 48px; }

/*
Clearfix
========================================== */
.clearfix {
  clear: both; }

/*
Animations
========================================== */
.fade-in {
  -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both; }

.bg-pan-left {
  -webkit-animation: bg-pan-left 8s both;
  animation: bg-pan-left 8s both; }

/**
* ----------------------------------------
* animation fade-in
* ----------------------------------------
*/
@-webkit-keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/**
* ----------------------------------------
* animation bg-pan-left
* ----------------------------------------
*/
@-webkit-keyframes bg-pan-left {
  0% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes bg-pan-left {
  0% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }





















/* MODAL STYLES
-------------------------------*/
jw-modal {
  /* modals are hidden by default */
  display: none;

}
  .jw-modal {
      /* modal container fixed across whole screen */
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      /* z-index must be higher than .jw-modal-background */
      z-index: 1000;
      
      /* enables scrolling for tall modals */
      overflow: auto;
      
}

.jw-modal-body {
  padding: 20px;
  background: #fff;

  /* margin exposes part of the modal background */
  margin: 40px;
}


.jw-modal-background {
/* modal background fixed across whole screen */
position: fixed;
top: 0;
right: 0;
bottom: 0;
left: 0;

/* semi-transparent black  */
background-color: #000;
opacity: 0.75;

/* z-index must be below .jw-modal and above everything else  */
z-index: 900;
}

body.jw-modal-open {
  /* body overflow is hidden to hide main scrollbar when modal window is open */
  overflow: hidden;
}