<form  #fornecimentoDados="ngForm">
  <div class="col-12">
    <div class="ss-form-group " [ngClass]="{ 'ss-alert-danger': !titulo.valid && !titulo.pristine, 'ss-alert' :  titulo.valid || titulo.pristine }">
      <label for="titulo">Título - obrigatório</label>
      <input [(ngModel)]="tituloText" id="titulo" #titulo="ngModel" name="titulo" required type="text" class="ss-form-control"
        placeholder="Informe aqui o título" aria-label="Título">
     <!--  <small style="display: none" [ngStyle]="{'display: block': !titulo.valid || !titulo.pristine }">O título é obrigatório</small> -->
    </div>
  </div>
  <div class="ss-grid">
    <div class="col-4" style="height: 5000%;">
      <div class="ss-form-group"  [ngClass]="{ 'ss-alert-danger': !date.valid, 'ss-alert' :  date.valid }">
        <label for="data">Data de realização da ação - obrigatório</label>
        <ng-datepicker [(ngModel)]="dateText" id="date" #date="ngModel" name="date" required [options]="options"></ng-datepicker>
      </div>

    </div>

    <div class="col-8">
      <div class="ss-form-group">
        <label class="ss-control-label">Comprovante da realização da atividade</label>
        <input type="file" name="arquivo" id="arquivo" class="arquivo">
        <input type="text" style="width: 50%;" name="file" id="file" class="ss-form-control" placeholder="E-mail da solicitação de ajustes ou de impressão"
          readonly="readonly">
        <button class="btn-file ss-btn ss-btn-primary"><i class="material-icons">attach_file</i> Escolher arquivo</button>
      </div>
    </div>
  </div>

<!--   <button type="submit" class="btn btn-success" [disabled]="!fornecimentoDados.form.valid">Submit</button>
 -->
</form>