.arquivo {
    display: none;
  }
  .file {
    line-height: 30px;
    height: 30px;
    border: 1px solid #A7A7A7;
    padding: 5px;
    box-sizing: border-box;
    font-size: 15px;
    vertical-align: middle;
    width: 300px;
  }
  
  .btn-file {
    border: 2px solid #a7a7a7;
    background-color: #506ad9;
    margin-bottom: 0px;
    width: 27%;
    margin-left: -20px;
    margin-top: -3px;
    height: 38px;
    border: 1px solid #D5DDE5;
    border-top-left-radius: 0px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 0px;
  }
  