<div class="ss-table ss-striped ss-sortable">
  <table id="myTable2">
    <thead>
      <tr>
        <th onclick="sortTable(0)">NOME DO PROGRAMA<img class="ss-icon" src="./assets/images/ic_arrow_drop_up_down_16px.svg"></th>
        <th onclick="sortTable(1)">NOME DO PROJETO<img class="ss-icon" src="./assets/images/ic_arrow_drop_up_down_16px.svg"></th>
        <th onclick="sortTable(2)">PREVISÃO DE TÉRMINO<img class="ss-icon" src="./assets/images/ic_arrow_drop_up_down_16px.svg"></th>
        <th>PROGRESSO</th>
        <th style="text-align: center;">SITUAÇÃO</th>
        <th style="width: 12px;"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let project of projects">
        <td>{{project.program_name}}</td>
        <td>{{project.name}}</td>
        <td>{{project.dataOut}}</td>
        <td>
          <div class="ss-progress-bar">
            <div class="ss-progress" id="myBar"    [ngStyle]="{'width': project.progress + '%'}"></div>
          </div>
        </td>
        <td class="" style="text-align: center;">
          <div class="ss-badge-container">
                <span [ngClass]="{ 'badgeC ss-badge ss-badge-danger ': project.status == 'Atrasado', 'ss-label ss-label-primary': project.status == 'Em dia', 'ss-badge-warning': project.status == '3', 'ss-badge-default': project.status == '4' }" title={{project.status}} >{{project.status}}</span>
          </div>
        </td>
        <td>
          <a title="Ver Resumo" (click)="sidebarEvent(project.id)" class="ss-color-text">
            <i class="material-icons">remove_red_eye</i>
          </a>
          <a title="Ações" routerLink="/detail/{{project.id}}" class="ss-color-text">
            <i  style="margin-left: 20px;"  class="material-icons">arrow_forward</i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
