<ng-template #defaultTabsHeader>
  <div class="ss-tab">
    <button *ngFor="let tab of tabs" class="ss-tab-links" [ngClass]="{active: tab.selected}" (click)="selectTab(tab)">
      <div class="ss-badge-container">
        <p style="margin-left: 13px;">{{tab.title}}<span style="margin-left: -1px;" class="ss-badge" [ngClass]="{ 'ss-badge-danger': tab.status == 2, 'ss-badge-success': tab.status == 1, 'ss-badge-warning': tab.status == 3, 'ss-badge-default': tab.status == 4}">{{tab.total}}</span></p>
      </div>
    </button>
  </div>
</ng-template>

<ng-container *ngIf="headerTemplate else defaultTabsHeader">
  <ng-container *ngTemplateOutlet="headerTemplate; context: tabsContext;">
  </ng-container>
</ng-container>

<ng-content>
</ng-content>