<div class="ss-card" *ngIf="task">
  <div class="ss-badge-container">
    <h5>{{task.taskName}}<span style="margin-top: 8px;margin-left: 10px;" [ngClass]="{ 'ss-badge-danger': task.status == 2, 'ss-badge-success': task.status == 1, 'ss-badge-warning': task.status == 3}"
        class="ss-badge"></span></h5>
  </div>
  <p>{{task.taskDescription}} </p>
  <i style="color: #4ea192;" class="material-icons">date_range</i>{{task.taskDate}}
  <hr>
  <app-perfil-img [user]="user" [role]="task.taskUser"></app-perfil-img>
  <hr>
  <div class="ss-grid">
    <div class="col-6">
      <a (click)="sideBarService.sidebarEventDetail()" class="ss-btn ss-btn-outline-primary">Detalhes</a>
    </div>
    <div class="col-6">
      <a routerLink="/detail/{{project.id}}/action/{{task.id}}" class="ss-btn ss-btn-primary">Executar <i class="material-icons">arrow_forward</i></a>
    </div>
  </div>
</div>