<sc-tab-panel id="tab-panel">
  <div style="float: right;margin-right: 10px;margin-top: -50px;" class="col-3 col-4-m">
    <p style="font-size: 12px"> <i style="font-size: 16px;color: #c8d223;" class="material-icons">error</i> Ação
      obrigatória</p>
  </div>
  <sc-tab title="Fornecimento dos dados" #aba1 [id]="aba1" (aoSelecionar)="mudarAba($event)" [selected]="abaSelecionada === 'aba1'">
    <div class="ss-card">
      <app-fornecimento-dados></app-fornecimento-dados>
      <div class="ss-grid">
        <div class="col-6"></div>
        <div class="col-3">
          <!--  <button type="button" style="font-size: 12px;background-color: #9596969c;border-color: #9596969c;" class="ss-btn ss-btn-primary">Continuar
            a preencher depois</button> -->
        </div>
        <div class="col-3">
          <button (click)="irParaAba(aba2)" type="button" class="ss-btn ss-btn-outline-primary">Próximo</button>
        </div>
      </div>
    </div>
  </sc-tab>
  <sc-tab title="Investimentos" #aba2 [id]="aba2" (aoSelecionar)="mudarAba($event)" [selected]="abaSelecionada === 'aba2'">
    <div class="ss-card">
      <app-investimentos></app-investimentos>
      <div class="ss-grid">
        <div class="col-3">
          <button (click)="irParaAba(aba1)" type="button" class="ss-btn ss-btn-outline-primary">Anterior</button>
        </div>
        <div class="col-3"></div>
        <div class="col-3">
          <!-- <button type="button" style="font-size: 12px;background-color: #9596969c;border-color: #9596969c;" class="ss-btn ss-btn-primary">Continuar
              a preencher depois</button> -->
        </div>
        <div class="col-3">
          <button (click)="irParaAba(aba3)" type="button" class="ss-btn ss-btn-outline-primary">Próximo</button>
        </div>
      </div>
    </div>
  </sc-tab>
  <sc-tab title="Observações" #aba3 [id]="aba3" (aoSelecionar)="mudarAba($event)" [selected]="abaSelecionada === 'aba3'">
    <div class="ss-card">
      <app-observacoes></app-observacoes>
      <div class="ss-grid">
        <div class="col-3">
          <button (click)="irParaAba(aba1)" type="button" class="ss-btn ss-btn-outline-primary">Anterior</button>
        </div>
        <div class="col-3"></div>
        <div class="col-3">
          <!--  <button type="button" style="font-size: 12px;background-color: #9596969c;border-color: #9596969c;" class="ss-btn ss-btn-primary">Continuar
                a preencher depois</button> -->
        </div>
        <div class="col-3">
          <button type="button" (click)="openModal('custommodal1')" class="ss-btn ss-btn-outline-primary">Concluir</button>
        </div>
      </div>
    </div>
  </sc-tab>
</sc-tab-panel>

<app-sc-modal *ngIf="project" class="ss-modal" header="Obrigado!" id="custommodal1" width=30>
  <div style="text-align: center">
    <i style="font-size: 77px;color: #2ddc79;" class="material-icons">check_circle_outline</i>
    <p>Os dados foram preenchidos com sucesso!</p>
    <p>O seu relatório foi enviado para análise.</p>
  </div>
  <div class="ss-grid">
    <div class="col-6">
      <button type="button" (click)="closeModal('custommodal1')" style="font-size: 12px;background-color: #9596969c;border-color: #9596969c;"
        class="ss-btn ss-btn-primary">Editar dados</button>
    </div>
    <div class="col-6">
      <a  routerLink="/detail/{{project.id}}" class="ss-btn ss-btn-outline-primary">Voltar para ações </a>
    </div>
  </div>
</app-sc-modal>